@import '/src/scss/variables';

.navbar {
	z-index: 15;
	position: sticky !important;
	top: 0;
	left: 0;
	background: #222222;

	.navbar-brand {
		text-transform: uppercase;
		font-size: 2.5rem;
		color: #eeeeee !important;
		margin: 0;
		font-weight: 600;
	}
}
