@import '/src/scss/variables';

.review-sidebar {
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	width: 550px;
	z-index: 1500;
	background: #222;
	padding: 1.5rem 0.5rem;

	&__projectTitle {
		color: #fff;
		text-align: center;
		margin-top: 5.5rem;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
	}

	.accordion {
		.card {
			color: #fff;
			border: none;
			background-color: transparent;
		}
	}

	&__projectType {
		text-align: left !important;
		margin-left: 1.2rem !important;
		padding-bottom: 1.2rem;
		margin-bottom: 2rem;

		color: #fff;

		border-bottom: 0.125px solid rgba(#fff, 0.15);
	}
}
