@import '/src/scss/variables';
@import '/src/scss/mixins';

.review-sidebar {
	height: 100%;
	position: fixed;
	overflow-y: scroll;
	top: 0;
	width: 95%;
	right: 0;
	z-index: 1500;
	background: #222;
	padding: 1.5rem 0.5rem;

	&::-webkit-scrollbar {
		display: none !important;
	}

	scrollbar-width: none !important;

	@include media-breakpoint-up(sm) {
		width: 550px;
	}

	.close-btn {
		position: absolute;
		top: 100px;
		right: 20px;
		color: #fff;

		&:hover {
			color: #fff;
		}
	}

	&__projectTitle {
		color: #fff;
		text-align: left;
		width: 95%;
		margin-top: 6.5rem;
		margin-bottom: 2rem;
		margin-left: 1.2rem;
	}

	.accordion {
		.card {
			color: #fff;
			border: none;
			background-color: transparent;
		}
	}

	&__projectType {
		text-align: left !important;
		margin-left: 1.2rem !important;
		padding-bottom: 1.2rem;
		margin-bottom: 2rem;

		color: #fff;

		border-bottom: 0.125px solid rgba(#fff, 0.15);
	}
}
