@import '/src/scss/variables';
@import '/src/scss/mixins';

.sidebar {
	position: fixed !important;
	left: 0;
	z-index: 10 !important;
	width: 400px !important;
	background: #222222;
	overflow-y: scroll !important;

	&::-webkit-scrollbar {
		display: none !important;
	}

	scrollbar-width: none !important;

	@include respond(500px) {
		width: 400px !important;
	}

	@include respond(400px) {
		width: 300px !important;
	}

	@include media-breakpoint-up(md) {
		width: 400px !important;
	}

	.close-btn {
		position: absolute;
		top: 10px;
		right: 15px;
		color: #eeeeee !important;
		fill: currentColor !important;
		opacity: 1;
	}

	&__card {
		height: 100% !important;
		background-color: transparent !important;
		border: none !important;
		border-bottom: 1px solid #eeeeee77 !important;
		box-shadow: none !important;
		border-radius: 0 !important;
	}
}
