@import '/src/scss/variables';

.sidebar {
	height: 100%;
	width: 100%;
	z-index: 10 !important;

	background: #222222;

	@media only screen and (max-width: 400px) {
		width: 300px !important;
	}

	.close-btn {
		position: absolute;
		top: 10px;
		right: 15px;
		color: #eeeeee !important;
		fill: currentColor !important;
		opacity: 1;
	}

	&__card {
		background-color: transparent !important;
		border: none !important;
		border-bottom: 1px solid #eeeeee77 !important;
		box-shadow: none !important;
		border-radius: 0 !important;
	}
}
