@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

html {
	&::-webkit-scrollbar {
		display: none !important	;
	}
}

body {
	font-family: 'Nunito', sans-serif !important;
	width: 100vw !important;
	overflow-x: hidden;
}

.custom-control {
	.form-check-input:checked ~ .form-check-label::before {
		background-color: black !important;
	}
}

.cards-container {
	min-height: 100vh;
	background: #222;

	.form-control,
	.form-control:focus {
		background-color: $bg-primary;
		border: 0px;
		border-bottom: 2px solid #eeeeee;
		border-radius: 0px;
		outline: none;
		box-shadow: none;
		color: #eeeeee;
		padding-left: 0;

		&::placeholder {
			opacity: 0.8;
		}
	}

	.form-control:focus {
		border-color: #ffc600 !important;
	}
}
